

.Party-link {
  color: black;
  padding: 1rem;
  border: 3px solid #bb1919;
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
}

.Party-link:hover {
  transform: scale(1.1);
}

ul {
  display: grid;
  gap: 15px 30px;
  grid-template-columns: repeat(3, 1fr);
}